<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YoGIF Staging.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
				<key>dateExpires</key>
				<string>10/3/18</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSAPIGateway.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProviderASF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AsyncDisplayKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BMPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bolts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CameraManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FDWaveformView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>OCWaveView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PINOperation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PINRemoteImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>PryntTrimmerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftSiriWaveformView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>WSTagsField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FB805B7B0203F022AF26F6EB353AC7BB2E194E7B</string>
						<key>dateExpires</key>
						<string>10/3/18</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3V5PAE4TZ5</string>
						<key>name</key>
						<string>YoGIF, LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3V5PAE4TZ5.com.yogif.yogifimessage</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3V5PAE4TZ5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3V5PAE4TZ5.com.yogif.yogifimessage</string>
				</array>
			</dict>
			<key>name</key>
			<string>YoGIF Staging.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ade9c998-9b79-4c72-83e0-93bd81c2ab1d</string>
				<key>name</key>
				<string>YoGIF [Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3V5PAE4TZ5</string>
				<key>name</key>
				<string>YoGIF, LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
